.body-background {
  background: url("../../assets/Photos/Generic/kristian2.jpg") rgba(255, 255, 255, 0.5) no-repeat center center fixed;
  background-size: cover;
  background-blend-mode: color;
  padding:2em 0;
}

.body-white{
  background-color:white;
  padding:2em 0;
  margin-top:3em;
}

.white h2 {
  text-align: center;
  opacity: 0;
  transition: 3.5s ease-in-out;
  padding: 5px;
}

.white-bar-text{
  color: white;
  font: 800 32px/32px "open sans";
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #011100, -2px -3px 10px #011100, 4px 5px 10px #011100, 4px 6px 10px #011100;
}

.active {
  opacity: 1 !important;
}

.nav-padding {
  height: 20vh;
}

.ticket-icon {
  height:3em;
  margin:1em auto 0.2em auto;
}

.icon-text{
  font-weight: bold;
  font-size: 1.2em;
}

.ticket-panel{
  background-color: rgba(0,0,0,0.8);
  padding:1em;
  color:white;
  font-family:'Roboto Condensed', sans-serif;
}

.panel-header{
  font-size:2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ticket-option{
  border:1px white solid;
  padding: 1em;
  margin:1em 0;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.ticket-enabled:hover{
  background-color:white;
  color:#757575;
  cursor:pointer;
}

.ticket-disabled{
  color:black;
}

.ticket-sold-out{
  color: #f0d0a3;
  text-decoration: line-through;
}

.ticket-main{
  font-weight:bold;
  font-size:1.1em;
}

.ticket-price{
  text-align:right;
}

.panel-text{
  padding:1em 0;
}

.panel-text ul li{
  padding: 0.5em 0;
}

.waiver-link {
  text-decoration:underline;
  font-weight: bold;
  cursor: pointer;
}
.waiver-link:hover{
  text-decoration: none;
}

.modal-body{
  padding:1em 2em;
  text-align: justify;
  text-justify: inter-word;
}

.iframe-container{
  width:100%;
  overflow:hidden;
}

.ticket-iframe{
  display:block;
  margin:0 auto;
  border:0;
  width:calc(100% + 19px);
  height: 100vh;
}

.site-padding{
  height:4em;
}

.info-link{
  background-color:gold;
  padding: 3px 1em;
  text-transform: uppercase;
  color:#666666;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.8rem;
  font-weight:bold;
  line-height: 1.8rem;
  text-align: center;
  border-radius: 3px;
}

.prize-image{
  text-align: center;
  margin-top:3em;

  display:flex;
  align-items: center;
  justify-content: center;
}

.prize-image > img{
  width:50%;
}