<div class="container-fluid body-background">
        
    <div class="nav-padding"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-1">
                <div class="routePic"></div>
            </div>
            <div class="col col-md-5 offset-md-1">
                <div class="the-route">
                    <h1>The Route</h1>
                    <p>The route is one lap and starts and finishes in Wells Market Place, Somerset. The route is undulating (with a few small hills) and multi-terrain with a bias towards road. You will be guaranteed breathtaking views over the Somerset moors and Glastonbury Tor, finishing by the beautiful Wells Cathedral.</p>
                    <p><span>Start time:</span> 11am</p>
                    <p><span>Cut off time:</span> 5pm (...but we don't think it will take you that long)</p>
                    <p>This is an <span>UNTIMED RUN</span>, but the roads will be closed and there will be stewards to support you until the last runner goes past.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col route-video">
                <video class="" controls>
                    <source src="./assets/Videos/route.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid body-white">
    <div class="container-fluid">
        <div class="row">
        <div class="col">
            <h1 class="text-center">Support</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <p class="body-text text-center">
                We will be there to support you every step of the way, not just with cider… 
                <br>
                Pro Medicus Ltd. will be the expert medical care providers to give support throughout the run. Alongside our team of fantastic marshalls The Ciderthon is well covered. 
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 panel-image-3 image-link" onclick="window.open('https://www.glastonburyspringwater.co.uk/','_blank');"></div>
        <div class="col-md-5 panel-black">
            <p class="text-center">keeping you hydrated<br>glastonbury spring water</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
