<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Are you running for a cause?</span></h2>
          <h2 [class.active]="mainText2"><span class="white-bar-text">We are!</span></h2>
          <h2 [class.active]="mainText3"><span class="white-bar-text">We are raising money for Dorset and Somerset Air Ambulance.</span></h2>
          <div class="site-padding"></div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid text-DSAA-background">
  <div class="row">
    <div class="col-md-7 offset-md-1 panel-image-1">
      <p class="body-text">
        <br>
        Dorset and Somerset Air Ambulance is YOUR service - provided for people in YOUR area - with YOUR support. They are a registered
        charity, established to provide relief from sickness and injury for the people of Dorset and Somerset, by the provision of an air
        ambulance. They  receive no direct funding from the Government or the National Lottery and rely entirely on the generosity of the
        public for support. Since their  launch in March 2000 they have flown nearly 12,000 missions. Join us and support the cause.
      </p>
    </div>
    <div class="col-md-4 panel-DSAA-logo"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <a class="donate-link" href="https://www.dsairambulance.org.uk/donate/donate-appeal/5/credit-card">Donate now</a></p>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
