<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Run. Taste. Explore.</span></h2>
          <!-- <h2 [class.active]="mainText2"><span class="white-bar-text">Producers to be announced.</span></h2> -->
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          Your ticket gets you 12 x 100ml cider tasters, and a pint at the 13th mile.
          <br>
          Take it easy, enjoy the views, and get to know some of the amazing cider producers fuelling your half marathon.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center">Here's a sneak peak at some of the cider producers on route...</h1>
        <br>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage1" (mouseenter)="showProducerInfo('1')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo1" (mouseleave)="hideProducerInfo('1')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="https://www.beardandsabre.co.uk/" target="_blank"><p class="cider-producer-title">Beard and Sabre</p></a>
          <p class="cider-producer-text">
              Exciting drinks that people enjoy by pressing the finest quality cider apples, combined with interesting and smooth tasting natural flavours; using traditional methods that champion our British history & heritage.          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage2" (mouseenter)="showProducerInfo('2')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo2" (mouseleave)="hideProducerInfo('2')" style="display:none;">
        <div class="cider-producer-nfo-container">
          <a href="http://www.brotherscider.co.uk/" target="_blank"><p class="cider-producer-title">Brothers</p></a>
          <p class="cider-producer-text">
              Cider made by real brothers! 4 brothers have been making their cider for 14 generations. They first started selling their Pear Cider at the Glastonbury Festival in 1995, and now  showcase a range of the best fruity flavoured UK ciders!          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage3" (mouseenter)="showProducerInfo('3')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo3" (mouseleave)="hideProducerInfo('3')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="http://bumblebeecider.co.uk/hive" target="_blank"><p class="cider-producer-title">Bumble Bee Cider</p></a>
          <p class="cider-producer-text">
              Using the best British apples to bring you deliciously appley refreshing cider. And why BumbleBee? Through education, donation and fundraising, this is their lasting tribute to the little guys that go out in their tireless efforts to pollinate next year’s apple blossom.          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage4" (mouseenter)="showProducerInfo('4')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo4" (mouseleave)="hideProducerInfo('4')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="https://craftynectar.com/" target="_blank"><p class="cider-producer-title">Crafty Nectar</p></a>
          <p class="cider-producer-text">
              The UK’s number 1 cider subscription club! Crafty nectar pride themselves on getting the best craft ciders from across the UK into the hands of their exclusive club members.          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage5" (mouseenter)="showProducerInfo('5')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo5" (mouseleave)="hideProducerInfo('5')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="http://www.loxleycider.uk/" target="_blank"><p class="cider-producer-title">Loxley</p></a>
          <p class="cider-producer-text">
              Loxley are continuing with old age cider making traditions. And  to this day, it is made in the same area that once was "Loxley Chase" where cider was first reportedly made for the very first time all those centuries ago!          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage6" (mouseenter)="showProducerInfo('6')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo6" (mouseleave)="hideProducerInfo('6')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="http://www.millwhites.co.uk/" target="_blank"><p class="cider-producer-title">Millwhites</p></a>
          <p class="cider-producer-text">
              From hand selected apples in orchards of the West Country, Millwhites Cider uses traditional methods while keeping up with the tastes of the modern day cider consumer. Made from 100% pressed juice they have 8 award winning somerset ciders.           </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage7" (mouseenter)="showProducerInfo('7')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo7" (mouseleave)="hideProducerInfo('7')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="https://www.orchardpig.co.uk/" target="_blank"><p class="cider-producer-title">Orchard Pig</p></a>
          <p class="cider-producer-text">
              A PIGS TAIL. It all started in the noughties, just outside Glastonbury, when Andrew started dabbling with cider making in his garden shed.
              Who knew… apples from Somerset Orchards make the best tasting cider. 
                        </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage8" (mouseenter)="showProducerInfo('8')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo8" (mouseleave)="hideProducerInfo('8')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="https://stablepizza.com/cider-3/" target="_blank"><p class="cider-producer-title">The Stable</p></a>
          <p class="cider-producer-text">
              Presenting their atmospheric FLAGON WAGON, fitted with their professional Cider Masters, the Stable has offerings from upscale elegant sparklers to rough and ready scrumpys. Complimenting their mouth watering Pizzas and Pies!          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-2 cider-producer-image" id="producerImage9" (mouseenter)="showProducerInfo('9')"></div>
      <div class="col-sm-12 col-md-2 cider-producer-info" id="producerInfo9" (mouseleave)="hideProducerInfo('9')" style="display:none;">
        <div class="cider-producer-info-container">
          <a href="http://wilkinscider.com/" target="_blank"><p class="cider-producer-title">Taunton Cider</p></a>
          <p class="cider-producer-text">
              Established 1911. Re-launched 2016. A great company is re-born. Taunton cider is real cider from somerset where timeless tradition meets contemporary craft.           </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          <strong>Want to get involved?</strong>
        </p>
        <p class="text-center">
          <a href="mailto:info@ciderthon.com" class="donate-link">Request a sponsorship pack</a>
        </p>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
