<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Run. Taste. Explore.</span></h2>
          <h2 [class.active]="mainText2"><span class="white-bar-text">Producers to be announced.</span></h2>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          Your ticket gets you 12 x 100ml cider tasters, and a pint at the 13th mile.
          <br>
          Take it easy, enjoy the views, and get to know some of the amazing cider producers fuelling your half marathon.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center">Here's a sneak peak at some of the cider producers on route...</h1>
        <br>
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-12 col-md-3 cider-producer-image" id="producerImage1" (mouseenter)="showProducerInfo('1')"></div>
      <div class="col-sm-12 col-md-3 cider-producer-info" id="producerInfo1" (mouseleave)="hideProducerInfo('1')" style="display:none;">
        <div class="cider-producer-info-container">
          <p class="cider-producer-title">Brothers</p>
          <p class="cider-producer-text">
            Cider made by real brothers! 4 brothers have been making their cider for 14 generations. They first started selling their Pear Cider at the Glastonbury Festival in 1995 near what was then called the Jazz World Stage. Joining us at the Ciderthon they will certainly be bringing that festival feel to your run alongside their fruity greatness.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 cider-producer-image" id="producerImage2" (mouseenter)="showProducerInfo('2')"></div>
      <div class="col-sm-12 col-md-3 cider-producer-info" id="producerInfo2" (mouseleave)="hideProducerInfo('2')" style="display:none;">
        <div class="cider-producer-info-container">
          <p class="cider-producer-title">Millwhites</p>
          <p class="cider-producer-text">
            From hand selected apples in orchards in the heart of the West Country, Millwhites Cider uses traditional methods while keeping up with the tastes of the modern day cider consumer. Made from 100% pressed juice they have 8 award winning somerset ciders. Along with their Cider Horse Trailer, Millwhites will be ready at The Ciderthon to keep you fuelled and running!
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 cider-producer-image" id="producerImage3" (mouseenter)="showProducerInfo('3')"></div>
      <div class="col-sm-12 col-md-3 cider-producer-info" id="producerInfo3" (mouseleave)="hideProducerInfo('3')" style="display:none;">
        <div class="cider-producer-info-container">
          <p class="cider-producer-title">The Stable</p>
          <p class="cider-producer-text">
            The Stable will be joining The Ciderthon presenting their prize cider Cornish Orchards. But along with this is their FLAGON WAGON which will bring a whole new atmosphere to the finish line. Fitted with The Stables Cider Masters, you’ll glug the full amount of their offerings from upscale elegant sparklers, to rough and ready scrumpys.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-3 cider-producer-image" id="producerImage4" (mouseenter)="showProducerInfo('4')"></div>
      <div class="col-sm-12 col-md-3 cider-producer-info" id="producerInfo4" (mouseleave)="hideProducerInfo('4')" style="display:none;">
        <div class="cider-producer-info-container">
          <p class="cider-producer-title">Wilkins Cider</p>
          <p class="cider-producer-text">
            If you’ve been to Lands End Farm and had a farmhouse cider served by Roger Wilkins himself, you’ll know you’re in the heart of Somerset. It’s just some barrels and a cider barn working their magic in Mudgley, and its just that which they’re bringing to The Ciderthon.
          </p>
        </div>
      </div>

    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          <strong>Want to get involved?</strong>
        </p>
        <p class="text-center">
          <a href="mailto:info@ciderthon.com" class="donate-link">Request a sponsorship pack</a>
        </p>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
