<div class="container-fluid body-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="white">
          <h2 [class.active]="mainText1"><span class="white-bar-text">Cider Chat</span></h2>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid body-white">

  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <h1 class="text-center">The 8 Stages of Dry January</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
          We salute the Cider fans that are nearly at the end of this wretched month - in training for half marathons what you're doing is truly admirable! If you’re still going...you’re doing better than us.
        </p>
        <div class="blog-container">

          <p class="body-text">
            <span class="stage-title">Stage 1: Enthusiasm</span><br>
            It's January 1st, you've drank all the Cider in the house over Christmas and you’ve got this. 31 days right? Easy.
            <br><img class="blog-gif" src="../../assets/Gifs/excitement.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 2: Confidence</span><br>
            This is going to be amazing! You’ll enjoy Sunday morning jogs more than ever before and you won't miss Cider whatsoever...not even when you order a coke at the pub down the road.
            <br><img class="blog-gif" src="../../assets/Gifs/confident.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 3: Smugness</span><br>
            You shake your head in disappointment at all the hungover cider fans struggling through Sunday. You rub in your new 5k PB and pity those who count the hours down to happy hour on a Friday.
            <br><img class="blog-gif" src="../../assets/Gifs/smug.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 4: Boredom</span><br>
            Sunday morning jogs aren't as fun when there’s no self-congratulatory drink down the line right? Where is the play in the work hard play hard… You start to feel like an outsider in your offices nonsensical drunk friday night chats.
            <br><img class="blog-gif" src="../../assets/Gifs/Bored.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 5: Temptation</span><br>
            If you accidentally have some of your friends cider… you thought it was apple juice right?
            <br><img class="blog-gif" src="../../assets/Gifs/temptation.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 6: Bargaining</span><br>
            You’re risking being labelled boring and surely your liver has regenerated itself by now? Your favourite bar has a january only offer... YOLO Right?
            <br><img class="blog-gif" src="../../assets/Gifs/bargaining.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 7: Lying</span><br>
            No one needs to know about that celebratory can of Brothers when you hit a new run mileage target…
            <br><img class="blog-gif" src="../../assets/Gifs/lying.gif">
          </p>

          <p class="body-text">
            <span class="stage-title">Stage 8: Submission</span><br>
            There's always next year.
            <br><img class="blog-gif" src="../../assets/Gifs/submission.gif">
          </p>

        </div>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
