<div class="container-fluid header-background">

  <div class="nav-padding"></div>

  <div class="container-fluid">
    <div class="row no-gutters video-container">
      <div class="col">
        <video autoplay muted loop id="ciderthonVideo">
          <source src="assets/Videos/ciderthon-main.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>

</div>



<div class="container-fluid body-background">
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
        <p class="body-text text-center">
            The Ciderthon is a half marathon with a cider taster at every mile, where you will be earning every step of your way. In completing the Ciderthon, you will become a part of the heart of Somerset, experiencing the very best cider from the very best producers. You will be introduced to a community of people who work hard, play hard, and run damn hard too. And as a team you will do whatever it takes to get yourself, and others, to the finish line.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p class="body-header text-center">29th April | Wells, Somerset</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center">
        <a class="info-link" href="tickets/">  Last chance to get your tickets!  </a>
      </p>
    </div>
  </div>

</div>


<!--

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="text-center">
        <a class="info-link" href="assets/info_runners.pdf"> New! Important information for runners here</a>
      </p>
    </div>
  </div>
  
-->

<app-footer></app-footer>
